@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Login with the test credentials user@example.com and TestPassword123! or make an account of your own</p>
</div>
